*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    height: 1500px;
    /*background-color: rgb(212, 218, 216);*/
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/the-mandalorian-and-grogu-special-look-sw-hero-mobile_68517f9e.jpeg?region=0,0,1280,720&width=960);
    background-repeat: no-repeat;
    background-size: contain;
}
.title-div{
    background-color: rgb(206, 206, 191);
    margin-bottom: 1rem;
}
.title-div h1{
    margin-left: 22%;
}
.main-div{
    margin-left: 20%;
    background-color: rgb(149, 206, 233);
}